body {
	color: #313131;
	background: #ffffff;
	font-size: 100%;
	font-family: 'Verdana', 'Arial', sans-serif;
	line-height: 1.5;
	max-width: 55em;
	margin: 0 auto;
}

/*** Шапка ***/
#main-header {
	padding: 0.5em;
	background-image: url(../images/Logo.png?1);
	background-repeat: no-repeat;
	background-position: 0.5em 0.5em;
	height: 5em;
}

#main-header hgroup {
	margin-left: 7em;
	color: #7c900a;
}

#main-header h1 {
	font-size: 1.625em;
	font-weight: bold;
}

#main-header h1 a {
	color: inherit;
	text-decoration: none;
}

#main-header h2 {
	font-size: 1em;
	font-weight: normal;
}

/*** Главное меню ***/
#major-navigation {
	font-size: 0.875em;
	margin-bottom: 4em;
}

#major-navigation ul {
	float: left;
	width: 100%;
	padding: 0.5em 0;
	border-bottom: 3px solid #afca2f;
}

#major-navigation li {
	float: left;
}

#major-navigation a {
	padding: 0.4em 2em 0.5em;
	margin-left: 0.5em;
	color: inherit;
	text-decoration: none;
}

#major-navigation a:hover {
	color: #cc3333;
}

#major-navigation a:focus {
	outline: 0;
}

#major-navigation li.active a {
	background: white;
	font-weight: bold;
	border-top: 3px solid #afca2f;
	border-left: 1px solid #afca2f;
	border-right: 1px solid #afca2f;
	border-bottom: 6px solid #fff;
}

/*** «Хлебные крошки» ***/
#breadcrumbs {
	margin-bottom: 1em;
}

#breadcrumbs>* {
	font-size: 0.75em;
}

#breadcrumbs a {
	text-decoration: none;
	color: #7c900a;
}

/*** Основной раздел ***/
#content-area {
	clear: both;
	margin: 0 1em;
}

#content-wrap {
	width: 100%;
	float: right;
	margin-left: -17em;
}

#content-wrap>* {
	margin-left: 17em;
}

/*** Боковое меню ***/
#secondary-navigation {
	float: left;
	width: 16.5em;
	padding-bottom: 1em;
}

#secondary-navigation nav {
	font-size: 0.75em;
	line-height: 1;
}

#secondary-navigation ul ul ul {
	padding-left: 2em;
}

#secondary-navigation li {
	margin-bottom: 0.8em;
}

#secondary-navigation li ul {
	margin-top: 0.8em;
}

#secondary-navigation a {
	text-decoration: none;
	color: #7c900a;
}

/*** Содержимое ***/
#content {
	padding-bottom: 1em;
	font-size: 0.875em;
	font-family: 'Verdana', 'Arial', sans-serif;
	line-height: 1.4;
}

#content p {
	margin: 0.7em 0;
	text-align: justify;
}

#content h1,
#content h2 {
}

#content h1 {
	font-size: 1.125em;
	margin-top: 1em;
	margin-bottom: 0.5em;
}

#content h2 {
	font-size: 1em;
	margin-top: 0.5em;
	margin-bottom: 0.3em;
}

#content ol,
#content ul {
	padding-left: 2.5em;
}

#content dt {
	font-weight: bold;
}

#content dd {
	margin-left: 3em;
}

#content dd p:first-child {
	margin-top: 0;
}

#content blockquote {
	border-left: 1px solid #ccc;
	padding: 0 2em;
}

#content small {
	font-size: 0.875em;
}

#content .copyright {
	text-align: right;
}

#content > *:first-child {
	margin-top: 0;
}

#content .phone,
#content .name,
#content .nowrap {
	white-space: nowrap;
}

#content .inline-icon {
	position: relative;
	top: 2px;
}

/** Сылки в подзаголовках и оглавление **/
a.headerlink {
	color: #c60f0f;
	margin-left: 0.2em;
	padding: 0 0.5em;
	text-decoration: none;
	visibility: hidden;
}

h1:hover a.headerlink,
h2:hover a.headerlink {
	visibility: visible;
}

h1 a.headerlink:hover,
h2 a.headerlink:hover {
	color: #fff;
	background-color: #ccc;
}

.toc a {
	color: #7C900A;
}

/** Новости **/
#content .news-item {
	border-top: 1px solid #ccc;
	padding-top: 1em;
	margin-top: 1.5em;
}

#content .news-item:first-child {
	border: 0;
	padding: 0;
	margin: 0;
}

#content .news-item header {
	margin-bottom: 1em;
}

#content .news-item header p,
#content .news-item header h1 {
	margin: 0;
}

#content .news-operations {
	border-bottom: 1px solid #ccc;
	padding-bottom: 1em;
	margin: 1em 0;
}

#content .news-operations ul {
	padding: 0;
}

#content .news-operations li {
	list-style: none;
	float: left;
	padding-left: 1em;
	margin-left: 1em;
	border-left: 1px solid #ccc;
}

#content .news-operations li:first-child {
	border: none;
	padding: 0;
	margin: 0;
}

#content .news-operations a {
	text-decoration: none;
	color: #7C900A
}

#content .news-operations.child {
	border: none;
}

/** Таблицы и диаграммы **/
#aspects {
	margin: 0 auto;
}

#aspects caption {
	font-weight: bold;
}

#aspects tbody td:first-child {
	text-align: right;
}

#aspects tbody td {
	padding: 0 0.75em;
}

#aspects tbody tr:hover {
	background-color: #eee;
}

.model-diagram {
	margin: 0 auto;
}

.model-diagram td,
.model-diagram th {
}

.model-diagram td {
	border: 1px solid #313131;
	padding: 0.5em 2em;
	font-weight: bold;
}

.model-diagram th {
	padding: 0.5em 1em;
	font-weight: normal;
	vertical-align: middle;
}

.model-diagram .separator {
	border-top: 2px solid #313131;
}

.model-diagram.compact td {
	border: none;
	padding: 0.5em;
	text-align: right;
}

#content .model-diagram.compact .inline-icon {
	position: relative;
	top: 1px;
}

.diagram {
	float: right;
	margin-left: 1em;
}

/** Формы **/
form input,
form textarea,
form select {
	margin: 0.2em 0 0.5em 0;
}

form fieldset {
	border: 1px solid #ddd;
	padding: 1em;
	margin: 0 0 1em 0;
}

form label {
	font-weight: bold;
	display: block;
}

form .row {
	margin: 0.3em 0;
}

form span.required {
	color: #f00;
}

form div.error label,
form label.error,
form span.error {
	color: #c00;
}

form div.error input,
form div.error textarea,
form div.error select,
form input.error,
form textarea.error,
form select.error {
	background: #fee;
	border-color: #c00;
}

form .errorSummary {
	border: 2px solid #c00;
	padding: 0.5em 0.5em 1em 0.5em;
	margin: 0 0 1.5em 0;
	background: #fee;
}

form .errorMessage {
	color: #f00;
}

form .errorSummary p {
	margin: 0;
	padding: 0.3em;
}

form .errorSummary ul {
	margin: 0;
	padding: 0 0 0 1.5em;
}

form.wide label {
	float: left;
	margin-right: 1em;
	position: relative;
	text-align: right;
	width: 12em;
}

form.wide .row {
	clear: left;
}

form.wide .buttons {
	clear: left;
	padding-left: 13em;
}

form.wide .errorMessage {
	margin: 0 0 0 10em;
}

#news-form input,
#news-form textarea {
	width: 100%;
}

#news-form .buttons input {
	width: auto;
}

#news-form textarea {
	height: 18em;
}

/*** «Подвал» ***/
#main-footer {
	clear: both;
	padding-top: 1em;
	border-top: 1px solid #afca2f;
	text-align: center;
	font-size: 0.875em;
}
