body {
	color: #313131;
	background: #ffffff;
	font-size: 100%;
	font-family: 'Trebuchet MS', 'Trebuchet', 'Arial', sans-serif;
	line-height: 1.5;
	max-width: 70em;
	margin: 0 auto;
}

/* Шапка */
#main-header {
	padding: 0.5em;
	background-image: url(../images/Logo.png);
	background-repeat: no-repeat;
	background-position: 0.5em 0.5em;
	height: 5em;
}

#main-header hgroup {
	margin-left: 7em;
}

#main-header h1 {
	font-size: 1.625em;
	font-weight: bold;
}

#main-header h1 a {
	color: inherit;
	text-decoration: none;
}

#main-header h2 {
	font-size: 1em;
	font-weight: normal;
}

/* Главное меню */
#major-navigation {
	margin-bottom: 4em;
}

#major-navigation ul {
	float: left;
	width: 100%;
	padding: 0.5em 0.75em;
	border-bottom: 3px solid #afca2f;
}

#major-navigation li {
	float: left;
}

#major-navigation a {
	padding: 0.4em 0.6em 0.5em;
	margin-left: 0.5em;
	color: inherit;
	text-decoration: none;
}

#major-navigation a:hover {
	color: #cc3333;
}

#major-navigation a:focus {
	outline: 0;
}

#major-navigation li.active a {
	background: white;
	font-weight: bold;
	border-top: 3px solid #afca2f;
	border-left: 1px solid #afca2f;
	border-right: 1px solid #afca2f;
	border-bottom: 6px solid #fff;
}

/* «Хлебные крошки» */
#breadcrumbs {
	margin-bottom: 1em;
}

#breadcrumbs>* {
	font-size: 0.875em;
}

#breadcrumbs a {
	text-decoration: none;
	color: #7c900a;
}

/* Основной раздел */
#content-area {
	clear: both;
	margin: 0 1em;
}

#content-wrap {
	width: 100%;
	float: right;
	margin-left: -16em;
}

#content-wrap>* {
	margin-left: 16em;
}

/* Боковое меню */
#secondary-navigation {
	float: left;
	width: 15em;
	padding-bottom: 1em;
}

#secondary-navigation nav {
	font-size: 0.875em;
}

#secondary-navigation ul ul ul {
	padding-left: 2em;
}

#secondary-navigation a {
	text-decoration: none;
	color: #7c900a;
}

/* Содержимое */
#content {
	padding-bottom: 1em;
	font-size: 1.125em;
	font-family: 'Linux Libertine', Palatino, 'Palatino Linotype', 'Book Antiqua', Georgia, 'Times New Roman', serif;
}

#content p {
	margin: 0.5em 0;
}

#content h1 {
	font-size: 1.3em;
	margin-top: 1em;
	margin-bottom: 0.5em;
}

#content ol,
#content ul {
	padding-left: 2.5em;
}

#content > *:first-child {
	margin-top: 0;
}

/* «Подвал» */
#main-footer {
	clear: both;
	padding-top: 1em;
	border-top: 1px solid #afca2f;
	text-align: center;
	font-size: 0.875em;
}
