body {
	color: #313131;
	font-size: 100%;
	font-family: 'Trebuchet MS', 'Trebuchet', 'Arial', sans-serif;
	line-height: 1.5;
	max-width: 70em;
	margin: 0 auto;
}

/* Шапка */
#main-header {
	padding: 1em;
	background-image: url(../images/Logo.png);
	background-repeat: no-repeat;
	height: 5em;
}

#main-header hgroup {
	margin-left: 8em;
}

#main-header h1 {
	font-size: 1.75em;
	font-weight: bold;
}

#main-header h1 a {
	color: inherit;
	text-decoration: none;
}

#main-header h2 {
	font-size: 1em;
	font-weight: normal;
}

/* Главное меню */
#major-navigation {
	padding: 0.5em 1.2em;
	margin: 0.5em 0;
	border-bottom: 3px solid #afca2f;
}

#major-navigation li {
	display: inline;
	padding: 0.5em 1em;
}

#major-navigation li.active {
	font-weight: bold;
	background-color: #f6f6f6;
	border-top: 3px solid #afca2f;
	border-bottom: 4px solid #f6f6f6;
}

#major-navigation a {
	text-decoration: none;
	color: inherit;
}

#major-navigation a:hover {
	color: #cc3333;
}

/* «Хлебные крошки» */
#breadcrumbs {
	font-size: 0.875em;
	margin-bottom: 1em;
}

#breadcrumbs a {
	text-decoration: none;
	color: #7c900a;
}

/* Основной раздел */
#content-wrap {
	width: 100%;
	float: right;
	margin-left: -16em;
}

/* Боковое меню */
#secondary-navigation {
	float: left;
	width: 15em;
	padding-bottom: 1em;
	font-size: 0.875em;
}

#secondary-navigation ul ul ul {
	padding-left: 2em;
}

#secondary-navigation a {
	text-decoration: none;
	color: #7c900a;
}

#secondary-navigation li.active>a {
	color: inherit;
}

/* Содержимое */
#content {
	font: 1.125em/1.5 'Linux Libertine', Palatino, 'Palatino Linotype', 'Book Antiqua', Georgia, 'Times New Roman', serif;
	word-spacing: 0.1em;
	margin-left: 16em;
}

/* «Подвал» */
#main-footer {
	clear: both;
	margin-top: 3em;
	padding-top: 1em;
	border-top: 1px dashed #afca2f;
	text-align: center;
	font-size: 0.875em;
}
